### IntelliJ IDEA ###
.idea/
out/
*.iml
.kotlin
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
bin/
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code & OS ###
.vscode/
.DS_Store
Thumbs.db